@page
@model SignalR.WebServer.Pages.ChatModel
@{
}


<h3>Chat Room</h3>

<form method="post">
    <input type="submit" value="Call Client Method Outside Hub" class="btn btn-outline-danger"/>
</form>

